/**
  * Global styles used by Django templates
 */

button:disabled {
    cursor: not-allowed !important;
}

.max-w-prose {
    max-width: 65ch;
}

/* Disable prose list margin inside of pres */

pre {
    ol,
    li {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

/* iframe fix for blogposts */

.prose {
    iframe {
        max-width: 100%;
    }
}

/* Disable default select arrow in favour of Tailwind's */

select {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    text-indent: 1px !important;
    text-overflow: "" !important;
}

tr.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
}
